p {
  text-align: left;
  font-family: Bradley Hand, cursive;
  width: 90%;
  margin-left: 3%;
  margin-top: 5%;
  margin-right: 3%


}

.p1 {
  background-color: #ffd868;
  float: right;
  margin: 0px;
  clear:right;
  padding: 0.1% 2% 0.1% 2%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  

}

.p2 {
  background-color: #4cd3c2;
  float: right;
  clear: right;
  margin: 0px;
  padding: 0.1% 2% 0.1% 2%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  

}

.p3 {
  background-color: #d7385e;
  float: right;
  clear: right;
  margin: 0px;
  padding: 0.1% 2% 0.1% 2%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  


}

.h1{
	font-family: Bradley Hand,cursive;
	font-weight: bold;
	text-align: center;
}
